/* Popup wrapper */

.SCPopup {
  background-color: #18181b;
}

.SCPopup body {
  overflow: hidden;
}

/* Button css */

.SCbuttonWrapper {
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  flex-direction: row;
  min-height: 20px;
  font-size: 15px;
  line-height: 20px;
  color: rgb(113, 118, 123);
  position: relative;
  transition: 0.2s linear;
  opacity: 0.5;
}

.SCbuttonWrapper.SCHasResults {
  color: rgb(29, 155, 240);
  cursor: pointer;
  opacity: 1;
}

.SCbuttonWrapper.SCNoResults {
  cursor: default;
}

.SCbuttonWrapper .SCcount {
  display: flex;
}

.SCiconBackground {
  margin: -7px;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: 50%;
  display: inline-flex;
  background-color: rgba(0, 0, 0, 0);
}

.SCbuttonWrapper:hover .SCiconBackground {
  background-color: rgba(29, 155, 240, 0.1);
}

.SCIconWrapper {
  display: inline-block;
  position: relative;
  vertical-align: text-bottom;
  width: 20px;
  text-align: center;
}

.SCIconWrapper i {
  top: 1px;
  position: relative;
}

.SCTextWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 1px;
  min-width: 10px;
  position: relative;
  line-height: 20px;
  font-size: 13px;
  padding: 0 5px;
  user-select: none;
  font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

/** Twitter Button overwrites **/

.SCbuttonWrapper.twitter.SCPost.active,
.SCbuttonWrapper.twitter.SCPost:hover {
  /*border-bottom: 1px solid rgb(231, 233, 234);*/
  text-decoration: underline;
}

.SCbuttonWrapper.twitter.SCPost .SCTextWrapper {
  font-size: 14px;
  line-height: 20px;
  top: 0;
  padding: 0;
}

.SCbuttonWrapper.twitter.SCNoResults .SCTextWrapper {
  min-width: 2px;
}

.SCbuttonWrapper.twitter.SCPost .SCcount {
  color: rgb(231, 233, 234);
  margin-right: 4px;
  font-weight: 700;
}

/** Reddit Button overwrites **/

.SCbuttonWrapper.reddit {
  padding: 8px;
  word-break: normal;
  align-items: center;
  border-radius: 2px;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  box-sizing: border-box;
  margin: 0 0 0 -4px;
  top: -0.5px;
}

.SCbuttonWrapper.reddit.TextCompact {
  padding: 0;
  margin: 0px 12px 0px 0px;
  top: 1px;
  display: block;
}

.SCbuttonWrapper.reddit.SCHasResults {
  color: #4FBCFF;
}

.SCbuttonWrapper.reddit.active,
.SCbuttonWrapper.reddit:hover {
  background-color: rgba(215, 218, 220, 0.1);
}

.SCbuttonWrapper.reddit.TextCompact:hover {
  background-color: transparent;
}

.SCbuttonWrapper.reddit .SCTextWrapper {
  font-size: 12px;
  line-height: 12px;
  font-weight: 700;
  font-family: IBMPlexSans, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  padding: 0;
}

.SCbuttonWrapper.reddit.SCNoResults .SCTextWrapper {
  min-width: 0;
}

.SCbuttonWrapper.reddit.TextCompact .SCTextWrapper {
  font-weight: 400;
}

.SCbuttonWrapper.reddit .SCIconWrapper {
  font-size: 16px;
  font-weight: 400;
  height: auto;
  width: auto;
  line-height: 21px;
  margin-right: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -1px;
}

.SCbuttonWrapper.reddit.SCNoResults .SCIconWrapper {
  margin-right: 0;
}

.SCbuttonWrapper.reddit .SCcount {
  margin-right: 2px;
}

.SCbuttonWrapper.reddit:hover .SCiconBackground {
  background: transparent;
}

/* Post */

.SCPostBodyWrapper {
  min-height: 220px;
  position: relative;
}

.SCPostBodyWrapper .SCSummaryTitle {
  width: calc(100% - 25px);
}

.SCPostCloseWrapper {
  position: absolute;
  top: 9px;
  right: -4px;
  width: 22px;
  height: 22px;
  padding: 3px;
  background-color: transparent;
  transition: 0.2s all linear;
  cursor: pointer;
  z-index: 5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.SCPostCloseWrapper:hover {
  background-color: rgba(29, 155, 240, 0.1);
}

.SCPostCloseWrapper svg {
  width: 18px;
  height: 18px;
}

/* Post display --TWITTER-- */

.SCPostBodyWrapper.twitter {
  display: flex;
  min-width: 100%;
  border-bottom: 1px solid rgb(47, 51, 54);
  font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.SCPostBodyWrapper.twitter .SCPostBody {
  width: 100%;
}

.SCPostBodyWrapper.twitter .SCPostCloseWrapper {
  fill: currentColor;
  color: rgb(29, 155, 240);
  top: 11px;
}

.SCPostBodyWrapper.twitter .SCSlideshowWrapper {
  margin: 16px 0px 20px;
  padding: 0px 4px;
}

.SCPostBodyWrapper.twitter .SCSlideshow {
  width: calc(100% - 8px);
}

/* Post display --REDDIT-- */

.SCPostBodyWrapper.reddit {
  min-height: 207px;
  margin: 0px 46px 0 14px;
  border-top: 1px solid #343536;
}

.SCPostBodyWrapper.reddit .SCPostCloseWrapper:hover {
  background-color: rgba(215, 218, 220, 0.1);
}

.SCPostBodyWrapper.reddit .SCSummaryTitle {
  color: rgb(215, 218, 220);
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
}

.SCPostBodyWrapper.reddit .SCSummaryInfo {
  margin-bottom: 8px;
}

.SCPostBodyWrapper.reddit .SCSummaryContent {
  color: rgb(215, 218, 220);
  font-family: Noto Sans, Arial, sans-serif;
  font-size: 14px;
  line-height: 19px;
}

.SCPostBodyWrapper.reddit .SCKeywordsWrapper {
  margin-top: 13px;
}

.SCPostBodyWrapper.reddit .SCSlideshowWrapper {
  margin: 15px 0px 20px;
}

.SCPostBodyWrapper.reddit .SCKeyword {
  font-family: Noto Sans, Arial, sans-serif;
  font-size: 14px;
}

/* Dialog display */

.SCDialogWrapper {
  background-color: transparent;
  font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  color: rgb(231, 233, 234);
  font-size: 15px;
  z-index: 9999;
}

.SCDialogWrapper.twitter {
  position: absolute;
  left: 12.6%;
  bottom: -204px;
  min-height: 247.2px;
}

.SCDialogWrapper.twitter .SCSummaryTitle {
  width: calc(100% - 25px);
}

.SCDialogBGWrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.SCDialogBody {
  position: absolute;
  border-radius: 16px;
  min-height: 160px;
  width: 507px;
  position: relative;
  background-color: rgb(0, 0, 0);
  box-shadow: rgb(255 255 255 / 20%) 0px 0px 15px, rgb(255 255 255 / 15%) 0px 0px 3px 1px;
  z-index: 2;
}

.SCDialogHeader {
  height: 53px;
  position: relative;
  z-index: 2;
  padding: 0 16px;
  display: flex;
  align-items: center;
}

.SCDialogCloseWrapper {
  width: 22px;
  height: 22px;
  padding: 3px;
  transition-property: background-color, box-shadow;
  transition-duration: 0.2s;
  line-height: 20px;
  border-radius: 9999px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  right: 12px;
  top: 20px;
  z-index: 9;
}

.SCDialogCloseWrapper:hover {
  background-color: rgba(29, 155, 240, 0.1);
}

.SCDialogCloseWrapper svg {
  color: rgb(29, 155, 240);
  width: 18px;
  height: 18px;
  fill: currentcolor;
  user-select: none;
}

.SCDialogContent {
  padding: 1px 16px;
}

/** Summary **/

.SCSummaryWrapper {
  display: flex;
}

.SCSummaryImage {
  flex-basis: 48px;
  margin-right: 12px;
}

.SCSummaryImage img {
  border-radius: 50%;
  max-height: 48px;
}

.SCSummaryBody {}

.SCSummaryTitle {
  font-weight: 700;
  margin-bottom: 3px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.SCSummaryInfo {
  font-size: 15px;
  line-height: 17px;
  margin: 0px 0px 4px;
  color: rgb(113, 118, 123);
  display: flex;
  align-items: center;
  min-height: 20px;
}

.SCSummaryInfo svg {
  height: 1.15em;
}

.SCSummaryInfo img {
  width: 19px;
  height: 19px;
  margin-right: 4px;
  border-radius: 50%;
  display: inline-flex;
}

.SCSummaryInfo i {
  margin-right: 4px;
  font-size: 15px;
}

.SCSummaryInfo i.fa-reddit {
  color: #ff4500;
}

.SCSummaryInfo i.fa-twitter {
  color: #1d9bf0;
}

.SCKeywordsWrapper {
  margin-top: 10px;
  position: relative;
  padding: 0 30px;
}

.SCKeywordsContent {
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  max-width: 1500px;
  overflow-x: hidden;
  gap: 5px;
  cursor: grab;
}

.SCKeywordsContent .SCArrow {
  background: rgba(255, 255, 255, 0.1);
  opacity: 0.8;
  padding: 0 2px;
  height: auto;
}

.SCKeywordsContent .SCArrow:hover {
  opacity: 1;
}

.SCKeywordsContent .SCArrow.SCLeft {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: 0;
}

.SCKeywordsContent .SCArrow.SCRight {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
}

.SCKeyword {
  -webkit-user-drag: none;
  user-select: none;
  display: inline-flex;
  background-color: rgba(221, 223, 224, 0.11);
  color: rgba(221, 223, 224, 0.6);
  padding: 6px 12px;
  border-radius: 16px;
  font-size: 14px;
  cursor: grab;
  align-items: center;
  text-decoration: none;
}

.SCKeyword svg,
.SCKeyword i {
  margin-right: 5px;
}

.SCKeyword i.fa-google,
.SCKeyword i.fa-youtube {
  margin-right: 6px;
}

.SCKeyword svg {
  width: 22px;
}

.SCKeyword:hover {
  background-color: rgba(221, 223, 224, 0.2);
  color: rgba(221, 223, 224, 0.9);
}

.SCIcon {
  margin-right: 4px;
  fill: currentColor;
  display: flex;
}

.SCScore {
  margin-left: 4px;
  font-size: 0.99em;
}

.SCTipWrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
  background: rgba(247, 202, 80, 1);
  border-radius: 999em;
  padding: 1px 6px;
}

.SCTipWrapper--thanks {
  cursor: default;
  background: rgb(0, 186, 124);
}

.SCTipIcon svg {
  height: 0.95em;
  padding: 1px 0px;
}

.SCTipIconText {
  color: black;
  opacity: 0;
  transition: 0.2s linear opacity;
  font-size: 0.9em;
  font-weight: 500;
  margin-top: 1px;
  transition: 0.2 all linear;
  margin-left: 4px;
  display: none;
}

.SCTipWrapper--thanks .SCTipIconText,
.SCTipWrapper:hover .SCTipIconText {
  opacity: 1;
  display: block;
}

.SCTipWrapper--thanks .SCTipIconText {
  margin-left: 0;
  color: white;
}

.SCTipWrapper .cls-1 {
  fill: none;
  stroke: black;
  stroke-linecap: square;
  stroke-miterlimit: 10;
  stroke-width: 1.91px;
}

.SCSeparator {
  padding: 0px 4px;
}

.SCdate {
  margin-right: 5px;
  align-items: center;
}

.SCdate svg {
  margin-right: 4px;
}

.SClink {
  color: rgb(29, 155, 240);
  text-decoration: none;
  max-width: 140px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.SClink:hover {
  text-decoration: underline;
}

.SCHandle {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 5px;
}

.SCDialogWrapper .SCHandle {
  max-width: 100px;
}

.SCSummaryContent {
  margin: 0px;
  color: rgb(231, 233, 234);
  height: 55px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

/**
* Source Groups list
**/

.SCGroupsWrapper {
  display: flex;
  flex-direction: row;
  margin: 15px 0px 0px;
}

.twitter .SCGroupsWrapper {
  margin-top: 7px;
}

.SCGroupsWrapper ul,
.SCGroupsWrapper li {
  margin: 0;
  padding: 0;
}

.SCGroupsWrapper ul {
  border-left: 1px dashed rgba(113, 118, 123, 0.8);
  margin: 0 12px 12px 0px;
  padding-left: 6px;
  position: relative;
  transition: border-color 0.2s ease-in-out;
}

.SCGroupsWrapper .SCDateGroup {
  position: absolute;
  bottom: -19px;
  left: -3px;
  color: rgba(113, 118, 123, 0.8);
  font-size: 0.8em;
  transition: color 0.2s ease-in-out;
}

.SCGroupsWrapper ul:hover,
.SCGroupsWrapper ul:hover .SCDateGroup {
  color: rgba(113, 118, 123, 1);
  border-color: rgba(113, 118, 123, 1);
}

.SCGroupsWrapper li {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: -2px -8px -2px -2px;
  z-index: 2;
  cursor: pointer;
  overflow: hidden;
  border-radius: 50%;
  border: solid 2px rgba(239, 243, 244, 0);
  align-self: flex-end;
  user-select: none;
}

.SCGroupsWrapper li img {
  width: 100%;
  height: 100%;
  max-width: 30px;
  border-radius: 50%;
}

.SCGroupsWrapper li:hover {
  border-color: rgba(29, 155, 240, 0.8);
}

.SCGroupsWrapper li.active {
  border-color: rgb(29, 155, 240);
}

/**
* Article info
**/

.SCArticleInfo {
  display: flex;
  margin: 0px 0px 0 auto;
  flex-direction: column;
  color: rgb(113, 118, 123);
  font-size: 0.8em;
  font-weight: 700;
}

/**
* Article Stats
**/

.SCArticleStats {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1px 4px 0 auto;
  font-weight: 700;
}

.SCArticleStats span {
  color: rgba(113, 118, 123, 0.7);
  font-weight: normal;
  margin-right: 4px;
}

.SCArticleStats svg {
  fill: currentColor;
  width: 18px;
  margin-left: 5px;
}

/**
* Article Nav
**/

.SCArticleNav {
  height: 25px;
  display: flex;
  align-items: center;
  margin: -4px 0px 0 auto;
  user-select: none;
}

.SCArrow {
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 100ms;
  user-select: none;
}

.SCArrow:hover {
  opacity: 1;
}

.SCArrow svg {
  fill: currentColor;
  width: 20px;
  height: 20px;
}

.SCArrow.SCLeft {
  margin-right: 2px;
}

.SCArrow.SCRight {
  margin-left: 2px;
}

.SCArticleNav .SCSeperator {
  margin: 0px 2px;
}

/** 
* Slideshow 
* inspired by https://codepen.io/KamilDyrek/pen/ejmRxV
**/

.SCSlideshowWrapper {
  display: flex;
  width: 100%;
  margin: 23px 0px 25px;
  flex-direction: column;
}

.SCSlideshowIcon {
  flex-basis: 48px;
  margin-right: 12px;
}

.SCSlideshowIconWrapper {
  display: flex;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: rgba(231, 233, 234, 0.1);
  color: rgba(231, 233, 234, 0.5);
  font-size: 21px;
  align-items: center;
  justify-content: center;
}

.SCSlideshow {
  min-height: 150px;
  width: 100%;
  text-align: left;
  overflow: hidden;
  position: relative;
  display: flex;
}

.SCSlideshowHeader {
  color: rgb(113, 118, 123);
  font-weight: 700;
  font-size: 15px;
  align-self: start;
  position: absolute;
}

.SCSlideshow .SCDateGroup:nth-of-type(1) {
  margin-left: 2px;
}

.SCSlideshow .SCSlide {
  position: absolute;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  left: 0;
  z-index: -1;
  transform: translateX(-100%);
  transition: ease-in-out 140ms;
  opacity: 1;
  color: rgb(239, 243, 244);
}

.SCSlideshow .SCSlide.active {
  transform: translateX(0);
  opacity: 1;
  z-index: 1;
}

/** Top Headings **/

.SCTopHeadingsWrapper {
  margin-bottom: 10px;
}

.SCTopHeadingsWrapper h3 {
  margin-bottom: 8px;
  font-size: 16px;
}

.SCTopHeadlines .SCSummaryBody {
  background: rgba(255, 255, 255, 0.03);
  padding: 6px 12px;
  margin-bottom: 3px;
}

.SCTopHeadlines .SCSummaryTitle {
  font-weight: 400;
}

.SCTopHeadlines .SClink {
  max-width: 210px;
}

.SCTopHeadlines .SCdate svg {
  margin-left: 3px;
}

/** Popup Dialog overwrites **/

.SCDialogWrapper.popup .SCDialogCloseWrapper {
  background: rgba(113, 118, 123, 0.1);
  position: relative;
  width: 100%;
  border: 0;
  border-radius: 0;
  left: -10px;
  right: -10px;
  top: 3px;
  min-height: 35px;
  justify-content: left;
  padding-left: 55px;
  font-weight: 700;
}

.SCDialogWrapper.popup .SCDialogCloseWrapper svg {
  position: absolute;
  right: 55px;
}

.SCDialogWrapper.popup .SCDialogCloseWrapper::before {
  background: url(../images/icons/icon_128.png) no-repeat center center;
  background-size: 100%;
  content: "";
  position: absolute;
  height: 25px;
  width: 25px;
  left: 20px;
}

.SCDialogWrapper.popup .SCSlideshowWrapper {
  margin: 15px 0 20px;
}

.SCDialogWrapper.popup .SCDialogBody {
  box-shadow: none;
  margin-top: 0px;
  background-color: #18181b;
}

.SCDialogWrapper.popup .SCSummaryContent {
  font-size: 15px;
  line-height: 19px;
}

.SCDialogWrapper.popup .SCKeywordsWrapper {
  margin-top: 15px;
}

/** Light mode **/

@media (prefers-color-scheme: light) {
  .SCPopup {
    background-color: rgb(255, 255, 255);
  }

  .SCDialogWrapper.popup .SCDialogCloseWrapper {
    background: rgba(231, 233, 234, 0.4)
  }

  .SCDialogWrapper.popup .SCDialogBody {
    background-color: rgb(255, 255, 255);
  }

  .SCTopHeadlines .SCSummaryBody {
    background: rgba(231, 233, 234, 0.35)
  }

  .SCSlideshow .SCSlide {
    color: rgba(0, 0, 0, 1.00);
  }

  .SCDialogWrapper {
    color: rgba(0, 0, 0, 1.00);
  }

  .SCDialogBody {
    box-shadow: rgb(101 119 134 / 20%) 0px 0px 15px, rgb(101 119 134 / 15%) 0px 0px 3px 1px;
    background-color: rgba(255, 255, 255, 1.00);
  }

  .SCSummaryContent {
    color: rgb(15, 20, 25);
  }

  .SCKeywordsContent .SCArrow {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .SCKeyword {
    background-color: rgba(231, 233, 234, 0.5);
    color: rgb(15, 20, 25, 0.75);
  }

  .SCKeyword:hover {
    background-color: rgba(231, 233, 234, 0.9);
    color: rgb(15, 20, 25, 1);
  }

  .SCSlideshow input+label::after {
    color: rgba(0, 0, 0, 1.00);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 512' style='fill:rgb(0, 0, 0)'%3E%3Cpath d='M31.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L127.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L201.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34z' /%3E%3C/svg%3E");
  }

  .SCSlideshow input:checked+label+.SCSlide+input+label::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 512' fill='rgb(0, 0, 0)'%3E%3Cpath d='M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z' /%3E%3C/svg%3E");
  }

  .SCbuttonWrapper.twitter.SCPost .SCcount {
    color: rgb(15, 20, 25);
  }

  .SCPostBodyWrapper.twitter {
    border-bottom-color: rgb(239, 243, 244);
  }

  .SCPostBodyWrapper.twitter .SCSlideshow {
    width: calc(100% - 8px);
  }
}

/** Dark mode **/

@media (prefers-color-scheme: dark) {}

/** Reddit Dialog overwrites **/

.SCDialogWrapper.reddit {
  font-family: IBMPlexSans, Arial, sans-serif;
  color: #D7DADC;
  position: absolute;
  min-height: 160px;
  width: 530px;
}

.SCDialogWrapper.reddit .SCDialogHeader {
  border-bottom: 1px solid rgba(215, 218, 220, 0.03);
  height: 50px;
}

.SCDialogWrapper.reddit .SCDialogBody {
  background-color: #1A1A1B;
  border: 1px solid #343536;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(215, 218, 220, 0.2);
  margin: auto;
  position: relative;
}

.SCDialogWrapper.reddit .SCDialogCloseWrapper {
  right: 26px;
  top: 22px;
}

.SCDialogWrapper.reddit .SCDialogCloseWrapper:hover {
  background-color: rgba(215, 218, 220, 0.1);
}

.SCDialogWrapper.reddit .SCDialogCloseWrapper svg {
  color: #818384;
  width: 16px;
}

.SCDialogWrapper.reddit .SCSlideshow {
  min-height: 139px;
}

.SCDialogWrapper.reddit .SCSlideshow .SCSlide {
  color: rgb(215, 218, 220);
  top: 0px;
}

.SCDialogWrapper.reddit .SCSummaryTitle {
  font-weight: 500;
  font-size: 16px;
  color: rgb(215, 218, 220);
  width: calc(100% - 35px);
  margin-bottom: 5px;
}

.SCDialogWrapper.reddit .SCSlideshowHeader {
  font-weight: normal;
  color: #818384;
}

.SCDialogWrapper.reddit .SCSlideshowIconWrapper {
  color: rgba(231, 233, 234, 0.5);
}

.SCDialogWrapper.reddit .SCSlideshow input+label::after {
  color: #818384;
}

.SCDialogWrapper.reddit .SCSummaryInfo {
  font-size: 14px;
}

.SCDialogWrapper.reddit .SCSummaryInfo {
  color: #818384;
}

.SCDialogWrapper.reddit .SCSummaryContent {
  color: rgb(215, 218, 220);
  font-size: 14px;
  line-height: 16px;
  height: 50px;
}

.SCDialogWrapper.reddit .SCKeyword {
  border: 1px solid rgba(129, 131, 132, 0.2);
  background-color: rgba(215, 218, 220, 0.01);
  border-radius: 20px;
  color: #818384;
  font-weight: 500;
}

.SCDialogWrapper.reddit .SCKeyword:hover {
  background-color: rgba(215, 218, 220, 0.1);
  color: #D7DADC;
}

.SCDialogWrapper.reddit .SClink {
  color: #4FBCFF;
}

/** Reddit Light mode **/

.theme-light .SCPostBodyWrapper.reddit,
.theme-light .SCDialogWrapper.reddit {
  color: #1A1A1B;
}

.theme-light .SCPostBodyWrapper.reddit {
  border-top-color: #EDEFF1;
}

.theme-light .SCDialogWrapper.reddit .SCDialogBody {
  background-color: #FFF;
  border-color: #EDEFF1;
  box-shadow: 0 2px 4px 0 rgba(28, 28, 28, 0.2);
}

.theme-light .SCPostBodyWrapper.reddit .SCSlideshow .SCSlide,
.theme-light .SCDialogWrapper.reddit .SCSlideshow .SCSlide {
  color: #1A1A1B;
}

.theme-light .SCPostBodyWrapper.reddit .SCSummaryTitle,
.theme-light .SCDialogWrapper.reddit .SCSummaryTitle {
  color: rgb(26, 26, 27);
}

.theme-light .SCKeywordsContent .SCArrow {
  background-color: rgba(0, 0, 0, 0.1);
}

.theme-light .SCPostBodyWrapper.reddit .SCKeyword,
.theme-light .SCDialogWrapper.reddit .SCKeyword {
  background-color: rgba(237, 239, 241, 0.5);
  border-color: rgba(237, 239, 241, 1);
  color: #444;
}

.theme-light .SCPostBodyWrapper.reddit .SCKeyword:hover,
.theme-light .SCDialogWrapper.reddit .SCKeyword:hover {
  background-color: rgba(237, 239, 241, 1);
  color: #1A1A1B;
}

.theme-light .SCPostBodyWrapper.reddit .SCSummaryContent,
.theme-light .SCDialogWrapper.reddit .SCSummaryContent {
  color: #1c1c1c;
}

.theme-light .SCPostBodyWrapper.reddit .SCSlideshow input+label::after,
.theme-light .SCDialogWrapper.reddit .SCSlideshow input+label::after {
  color: #1c1c1c;
}

.theme-light .SCPostBodyWrapper.reddit .SCSummaryInfo,
.theme-light .SCDialogWrapper.reddit .SCSummaryInfo {
  color: #787C7E
}

.theme-light .SCPostBodyWrapper.reddit .SClink,
.theme-light .SCDialogWrapper.reddit .SClink {
  color: #0079D3;
}

.theme-light .SCbuttonWrapper.reddit.active,
.theme-light .SCbuttonWrapper.reddit:hover {
  background-color: rgba(26, 26, 27, 0.1);
}

/**
  Helpers
**/

.SCMarginRight {
  margin-right: 4px;
}

.SCLoader {
  width: 15px;
  height: 15px;
  border: 3px solid rgba(113, 118, 123, 0.2);
  border-bottom-color: rgba(113, 118, 123, 0.8);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: SCrotation 1s linear infinite;
}

.SCHasResults .SCLoader {
  border-color: rgba(29, 155, 240, 0.2);
  border-bottom-color: rgba(29, 155, 240, 0.8);
}

.SCPostBodyWrapper .SCPostBody .SCLoader,
.SCDialogWrapper .SCDialogBody .SCLoader {
  position: relative;
  left: 50%;
  width: 35px;
  margin-top: 11.5%;
  margin-left: -17.5px;
  height: 35px;
  border-width: 4px;

  border-color: rgba(29, 155, 240, 0.2);
  border-bottom-color: rgba(29, 155, 240, 0.8);
}

.SCPostBodyWrapper .SCPostBody .SCLoader {
  margin-top: 16%;
}

/*.SCPostBodyWrapper.reddit .SCPostBody .SCLoader {
  margin-top: 13%;
}*/

@keyframes SCrotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}