/* Reddit overwrites */

.redditrelated {
  color: #ff4500;
}

.redditrelated .fa-lightbulb {
  font-size: 1.4em;
}

/* Twitter css */

.SCbuttonWrapper {
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  flex-direction: row;

  min-height: 20px;
  font-size: 15px;
  line-height: 20px;
  color: rgb(113, 118, 123);
  position: relative;
  transition-property: background-color, box-shadow, color;
  transition-duration: 0.2s;
}

.SCbuttonWrapper:hover {
  color: rgba(255, 208, 0, 0.8);
}

.SCiconBackground {
  margin: -6px;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: 50%;
  display: inline-flex;
  background-color: rgba(0, 0, 0, 0);
}

.SCbuttonWrapper:hover .SCiconBackground {
  background-color: rgba(255, 208, 0, 0.07);
}

.SCiconWrapper {
  display: inline-block;
  position: relative;
  vertical-align: text-bottom;
  width: 20px;
  text-align: center;
}

.SCiconWrapper i {
  top: 1px;
  position: relative;
}

.SCtextWrapper {
  top: 1px;
  position: relative;
  min-width: 1em;
  line-height: 20px;
  font-size: 13px;
  padding: 0 10px;
  user-select: none;
  font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}


/* Dialog */

.SCDialogWrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;

  background-color: transparent;
  font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  color: rgb(231, 233, 234);
  font-size: 15px;
}

.SCDialogBody {
  top: 50%;
  border-radius: 16px;
  min-height: 160px;
  width: 500px;
  position: relative;
  background-color: rgb(0, 0, 0);
  box-shadow: rgb(255 255 255 / 20%) 0px 0px 15px, rgb(255 255 255 / 15%) 0px 0px 3px 1px;
}

.SCDialogHeader {
  height: 53px;
  position: relative;
  z-index: 2;
  padding: 0 16px;
  display: flex;
  align-items: center;
}

.SCDialogCloseWrapper {
  width: 36px;
  height: 36px;
  margin-left: calc(-8px);
  transition-property: background-color, box-shadow;
  transition-duration: 0.2s;
  line-height: 20px;
  border-radius: 9999px;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.SCDialogCloseWrapper:hover {
  background-color: rgba(239, 243, 244, 0.1);
}

.SCDialogCloseWrapper svg {
  color: rgb(239, 243, 244);
  width: 20px;
  height: 20px;
  fill: currentcolor;
  user-select: none;
}

.SCDialogContent {
  padding: 1px 16px;
}

/** Summary **/

.SCSummaryWrapper {
  display: flex;
}

.SCSummaryImage {
  flex-basis: 48px;
  margin-right: 12px;
}

.SCSummaryImage img {
  border-radius: 50%;
  max-height: 48px;
}

.SCSummaryBody {}

.SCSummaryTitle {
  font-weight: 700;
  margin-bottom: 3px;
}

.SCSummaryInfo {
  margin: 0px 0px 8px;
  color: rgb(113, 118, 123);
  display: flex;
  align-items: center;
}

.SCSummaryInfo svg {
  height: 1.15em;
}

.SCSummaryInfo img {
  width: 19px;
  height: 19px;
  margin-right: 4px;
  border-radius: 50%;
  display: inline-flex;
}

.SCSummaryInfo i {
  margin-right: 4px;
  font-size: 15px;
}

.SCSummaryInfo i.fa-reddit {
  color: #ff4500;
}

.SCSummaryInfo i.fa-twitter {
  color: #1d9bf0;
}

.SCKeywordsWrapper {
  display: flex;
  margin-top: 12px;
  flex-wrap: wrap;
  gap: 5px;
}

.SCKeyword {
  display: inline-flex;
  background-color: rgba(231, 233, 234, 0.1);
  padding: 8px 12px;
  border-radius: 16px;
  cursor: pointer;
  align-items: center;
}

.SCKeyword i {
  margin-right: 5px;
}

.SCKeyword i.fa-google,
.SCKeyword i.fa-youtube {
  margin-right: 6px;
}

.SCKeyword:hover {
  background-color: rgba(231, 233, 234, 0.3);
}

.SCIcon {
  margin-right: 4px;
  fill: currentColor;
  display: flex;
}

.SCSeparator {
  padding: 0px 4px;
}

.SCdate {
  margin-right: 5px;
}

.SClink {
  color: rgb(29, 155, 240);
  text-decoration: none;
}

.SCSummaryContent {
  margin: 0px;
  color: rgb(113, 118, 123);
}

/** 
* Slideshow 
* inspired by https://codepen.io/KamilDyrek/pen/ejmRxV
**/

.SCSlideshowWrapper {
  display: flex;
  width: 100%;
  margin: 25px 0px;
}

.SCSlideshowIcon {
  flex-basis: 48px;
  margin-right: 12px;
}

.SCSlideshowIconWrapper {
  display: flex;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: rgba(231, 233, 234, 0.1);
  color: rgba(231, 233, 234, 0.5);
  font-size: 21px;
  align-items: center;
  justify-content: center;
}

.SCSlideshow {
  padding: 0;
  margin: 0px;
  min-height: 166px;
  width: 100%;
  text-align: left;
  overflow: hidden;
  position: relative;
  display: flex;
}

.SCSlideshowHeader {
  color: rgb(113, 118, 123);
  font-weight: 700;
  font-size: 15px;
  align-self: start;
  position: absolute;
}

.SCSlideshow .sr-only {
  position: absolute;
  pointer-events: none;
  width: 1px;
  height: 1px;
  overflow: hidden;
  color: transparent;
}

.SCSlideshow input {
  position: absolute;
  opacity: 0;
  margin: 0;
  cursor: pointer;
  align-self: flex-end;
}

.SCSlideshow label {
  display: inline-block;
  width: 22px;
  height: 22px;
  margin: 0 -8px 0 0;
  z-index: 2;
  cursor: pointer;
  overflow: hidden;
  border-radius: 50%;
  border: solid 2px rgba(239, 243, 244, 0);
  align-self: flex-end;
  transition: opacity linear 0.1s;
  user-select: none;
}

.SCSlideshow label img {
  width: 100%;
  border-radius: 50%;
}

.SCSlideshow input:checked+label {
  border-color: rgb(29, 155, 240);
  opacity: 1;
}

.SCSlideshow input+label::after {
  content: '';
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 512' style='fill:rgb(113, 118, 123)'%3E%3Cpath d='M31.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L127.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L201.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34z' /%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center 55%;
  background-size: 20px 20px;
  line-height: 20px;
  /*transition: background-size 200ms;*/
  position: absolute;
  color: rgb(113, 118, 123);
  height: 20px;
  width: 20px;
  bottom: 0;
  right: 20px;
  z-index: 20;
}

.SCSlideshow input:checked+label::after {
  background-image: none;
  width: 100%;
  z-index: 10;
  display: none;
}

.SCSlideshow input:checked+label+.SCSlide~input+label::after {
  display: none;
}

.SCSlideshow input:checked+label+.SCSlide+input+label::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 512' fill='rgb(113, 118, 123)'%3E%3Cpath d='M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z' /%3E%3C/svg%3E");
  display: block;
  width: 20px;
  right: 2.5px;
}

.SCSlideshow .SCSlide {
  position: absolute;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  left: 0;
  z-index: -1;
  transform: translateX(-100%);
  transition-duration: .4s;
  opacity: 1;
  color: rgb(239, 243, 244);
}

.SCSlideshow input:checked~.SCSlideshow .SCSlide {
  transform: translateX(100%);
}

.SCSlideshow input:checked+label+.SCSlide {
  transform: translateX(0);
  opacity: 1;
  z-index: 1;
}

/** Social Slideshow overwrites **/

.SCSlideshowWrapper.social label.SCNav {
  border: none;
  height: 0;
  width: 0;
}

.SCSlideshowWrapper.social .SCSlideshow {
  min-height: 95px !important;
}

/** Reddit Dialog overwrites **/

.SCDialogWrapper.reddit {
  background-color: rgba(26, 26, 27, 0.6);
  font-family: IBMPlexSans, Arial, sans-serif;
  color: #D7DADC;
}

.SCDialogWrapper.reddit .SCDialogHeader {
  border-bottom: 1px solid rgba(215,218,220,0.03);
  height: 50px;
}

.SCDialogWrapper.reddit .SCDialogBody {
  background-color: rgb(26, 26, 27);
  border: 1px solid rgb(46, 47, 48);
  border-radius: 4px;
  box-shadow: 0 2px 20px 0 rgb(0 0 0 / 30%);
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
  position: relative;
  min-height: 160px;
}

.SCDialogWrapper.reddit .SCDialogHeader .SCDialogCloseWrapper {
  margin-left: auto;
}

.SCDialogWrapper.reddit .SCDialogHeader .SCDialogCloseWrapper svg {
  color: #818384;
  width: 16px;
}

.SCDialogWrapper.reddit .SCDialogHeader .SCDialogCloseWrapper:hover {
  background-color: rgba(0, 0, 0, 0);
}

.SCDialogWrapper.reddit .SCSlideshow  {
  min-height: 160px;
}

.SCDialogWrapper.reddit .SCSlideshow .SCSlide {
  color: #D7DADC;
  top: 0px;
}

.SCDialogWrapper.reddit .SCSummaryTitle {
  font-weight: normal;
  font-size: 16px;
}

.SCDialogWrapper.reddit .SCSlideshowHeader {
  font-weight: normal;
  color: #818384;
}

.SCDialogWrapper.reddit .SCSlideshowIconWrapper {
  color: rgba(231, 233, 234, 0.5);
}

.SCDialogWrapper.reddit .SCSlideshow input+label::after {
  color: #818384;
}

.SCDialogWrapper.reddit .SCSummaryInfo,
.SCDialogWrapper.reddit .SCSummaryContent {
  color: #818384;
}

.SCDialogWrapper.reddit .SCKeyword {
  border: 1px solid rgba(129,131,132,0.2);
  background-color: transparent;
  border-radius: 20px;
  color: #818384;
  font-weight: 500;
}

/**
  Helpers
**/

.SCMarginRight {
  margin-right: 12px;
}